# 后边的规则会覆盖前边的规则

# 忽略全部
/*
# README.md
!README.md
# .gitignore
!.gitignore
# KubeJS
!/kubejs/
!/kubejs/client_scripts/
!/kubejs/server_scripts/
!/kubejs/startup_scripts/
# Mods
!/mods/
!/mods/architectury*.jar
!/mods/kubejs*.jar
!/mods/probejs*.jar
!/mods/rhino*.jar