#忽略全部
/*
#不忽略的文件与文件夹
!kubejs
!mods
!/README.md
!/.gitignore
#文件夹内
## 这些是不要的
kubejs/assets
kubejs/data
kubejs/config
kubejs/probe
kubejs/jsconfig.json
kubejs/README.txt
## 这些是要的
!mods/rhino*.jar
!mods/architectury*.jar
!mods/kubejs*.jar
!mods/probejs*.jar